<div *ngIf="content" class="main-container">
  <section id="{{ content.title | safeId | lowercase }}" class="content-container" [ngClass]="currentState">
    <div id="ws-background"></div>
    <div *ngIf="desktop" id="desktop-logo"><img src="./assets/svg/logo-amex.svg" alt="American Express"></div>
    <div *ngIf="mobile" id="mobile-logo"><img src="./assets/svg/logo-amex.svg" alt="American Express"></div>
    <ng-container *ngIf="desktop">
      <div id="desktop">
        <div class="col-copy" [@copyResize]="isCollapsed ? 'collapsed' : 'expanded'">
          <app-content-detail [content]="content"></app-content-detail>
          <div class="sub-navigation">
            <div class="previous"><div *ngIf="previousLink"><i class="fas fa-chevron-left fa-fw"></i> <a routerLink="/{{previousLink}}" >{{previousTitle}}</a></div></div>
            <div class="next"><div *ngIf="nextLink"><a routerLink="/{{nextLink}}" >{{nextTitle}}</a> <i class="fas fa-chevron-right fa-fw"></i></div></div>
          </div>
        </div>
        <div class="col-image" [@imageResize]="isCollapsed ? 'collapsed' : 'expanded'">
          <button id="panel-resizer" (click)="toggleCollapse()" [class]="currentState"><i class="fas fa-chevron-right fa-fw"></i></button>
          <app-content-image [image]="image" [headline]="headline" [state]="currentState ? currentState : 'expanded'"></app-content-image>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="mobile">
      <div id="mobile">
        <div class="col-image">
          <app-content-image [image]="image" [headline]="headline" [state]="currentState ? currentState : 'expanded'"></app-content-image>
        </div>
        <div class="col-copy">
          <app-content-detail [content]="content"></app-content-detail>
        </div>
      </div>
    </ng-container>
  </section>
</div>