<div *ngIf="content" class="main-container">
  <!-- [@animateContentPanels]="sectionState" (@animateContentPanels.start)="animationStart($event)" (@animateContentPanels.done)="animationEnd($event)" -->
  <section id="{{ content.title | safeId | lowercase }}" class="content-container" [ngClass]="currentState">
    <ng-container *ngIf="desktop">
      <div id="desktop">
        <div class="col-copy" [@copyResize]="isCollapsed ? 'collapsed' : 'expanded'">
          <app-content-detail [content]="content"></app-content-detail>
          <div class="sub-navigation">
            <div class="previous"><div *ngIf="previousLink"><i class="fas fa-chevron-left fa-fw"></i> <a routerLink="/{{previousLink}}" >{{previousTitle}}</a></div></div>
            <div class="next"><div *ngIf="nextLink"><a routerLink="/{{nextLink}}" >{{nextTitle}}</a> <i class="fas fa-chevron-right fa-fw"></i></div></div>
          </div>
        </div>
        <div class="col-image" [@imageResize]="isCollapsed ? 'collapsed' : 'expanded'">
          <!-- <button style="position:absolute; width: 50px; height: 50px; z-index:100; left: 100px;" (click)="toggleSection()">TEST</button> -->
          <button id="panel-resizer" (click)="toggleCollapse()" [class]="currentState"><i class="fas fa-chevron-right fa-fw"></i></button>
          <div class="background-image">
            <app-content-image [image]="image" [state]="currentState ? currentState : 'expanded'"></app-content-image>
          </div>
          <div class="headline">
            <app-content-headline [headline]="headline" [state]="currentState ? currentState : 'expanded'"></app-content-headline>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="mobile">
      <div id="mobile">
        <div class="col-image">
          <div class="background-image">
              <app-content-image [image]="image" [state]="currentState ? currentState : 'expanded'"></app-content-image>
          </div>
          <app-content-headline [headline]="headline" [state]="currentState ? currentState : 'expanded'"></app-content-headline>
        </div>
        <div class="col-copy">
          <app-content-detail [content]="content"></app-content-detail>
        </div>
      </div>
    </ng-container>
  </section>
</div>