@import 'variables';

:host {
    width: 100vw;
}

// .main-container{
//     background-color: $color-platinum;
// }

.content-container{
    display: flex;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#desktop{
    display: flex;

    .col-copy, .col-image{
        width: 50%;
        height: 100%;
        width: 50vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
        z-index: 20;
        background-color: $white;
    }

    .col-copy{
        z-index: 21;
    }
    .col-image{
        z-index: 22;
    }

    .sub-navigation{
        position: absolute;
        bottom: 0;
        z-index: 50;
        padding: 1rem;
        display: flex;
        width: 100%;

        .previous, .next{
            flex-direction: column;
            width: 50%;
        }
        .previous{
            text-align: left;
            float: left;
        }
        .next{
            text-align: right;
            float: right;
        }
    }
}

.collapsed #desktop .col-copy{
    width: 75%;
    width: 75vw;
}
.collapsed #desktop .col-image{
    width: 25%;
    width: 25vw;
}

#panel-resizer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: $white;
    background: none;
    border: none;
    text-shadow: 1px 1px 1px rgba($black, 0.5);
    cursor: pointer;
    transform: rotate(0deg);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
#panel-resizer.collapsed{
    transform: rotate(180deg);
}
#panel-resizer.expanded{
    transform: rotate(0deg);
}
button#panel-resizer:focus { outline:none; }

@include media-breakpoint-up(md){

}

@include media-breakpoint-up(sm){
  
}

@include media-breakpoint-down(xs){
    .content-container{
        display: block;
        width: auto;
        height: auto;
    }
    #mobile{
        overflow-y: auto;
    }
    #mobile{
        .col-copy, .col-image{
            width: 100%;
            width: 100vw;
            height: auto;
            position: relative;
            z-index: 20;
            background-color: $white;
        }
    }
}