@mixin transform($property) {
    -webkit-transform: $property;
    transform: $property;
}
@mixin transition($property) {
    -webkit-transition: $property;
    transition: $property;
}
@mixin mask($property) {
    -moz-mask-image: $property;
    -webkit-mask-image: $property;
    mask-image: $property;
    -webkit-mask-attachment: fixed;
}
  