@import 'variables';

:host {
  display: block;
  position: absolute;
  width: 100%;
}

#desktop-logo{
  width: 6vw;
  position: absolute;
  top:0;
  left: 0;
  padding: 1rem;
  z-index: 30;

  img{
      width: 100%;
  }
}

#ws-background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/assets/svg/ws-pattern.svg') repeat;
  opacity: 0.2;
}

#desktop-nav{
  position: fixed;
  z-index: 999;
  right: 0;
  margin-right: -180px;
  margin-top: 10vh;

  ul.nav-list{
    list-style: none;
    width: 270px;
    margin-left: -40px;

    li.nav-title{
      background-color: rgba($dark-blue, 0.9);
      height: 50px;
      margin-bottom: .1rem;
      position: relative;
      text-transform: uppercase;
      font-size: 1em;
      cursor: pointer;
      opacity: 0;
      
      :hover{
        text-decoration: none;
      }

      a{
        padding: .8rem .6rem .8rem 0rem;
        color: $white;
        display: block;

        :hover{
          text-decoration: none;
        }

        svg{
          width: 50px;
          font-size: 1.2em;
        }
      }

      .nav-dropdown{
        position: absolute;
        width: 168px;
        top:50px;
        z-index: 100;
      }

      .nav-dropdown a{
        display: block;
        padding: 0rem;
        background-color: rgba($dark-blue, 0.9);
        font-size:0.8rem;
        text-transform: none;
        position: relative;
        opacity: 0;
      }
      .nav-dropdown a span{
        padding: .4rem .6rem;
        display: block;
        border-bottom:1px dotted rgba($white, 0.2);
        background-color: rgba($white, 0);
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
      }
      .nav-dropdown a:last-child span{
        border-bottom: none;
      }
      .nav-dropdown a:hover span,
      .nav-dropdown a.active span{
        background-color: rgba($white, 0.2);
      }
      
    }

  }
}

#mobile-nav{
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

@include media-breakpoint-down(xs){

  #mobile-logo{
    width: 100px;
    position: fixed;
    top:0;
    right: 0;
    text-align: right;
    padding: .75rem 1rem;
    z-index: 120;

    img{
        width: 40px;
    }
  }
   
}

@include media-breakpoint-up(md){

}

@include media-breakpoint-up(sm){
  
}

@include media-breakpoint-up(lg){

}

@include media-breakpoint-up(xl){
  
}

@media (min-width: 2000px) {
  #desktop-logo{
    max-width: 5vw;
  }
}
