<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let menuTopLevelItem of menuTopLevelItems">
        <li *ngIf="!menuTopLevelItem.dropdown" class="nav-item">
          <a class="nav-link" routerLink="{{menuTopLevelItem.link}}">{{menuTopLevelItem.name}} <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="menuTopLevelItem.dropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{menuTopLevelItem.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let menuSecondLevelItem of menuSecondLevelItems">
              <a *ngIf="menuSecondLevelItem.parent == menuTopLevelItem.name" class="dropdown-item" 
              routerLink="{{menuSecondLevelItem.link}}" [innerHTML]="menuSecondLevelItem.name"></a>
            </ng-container>  
          </div>
        </li>
      </ng-container>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<main [@routeSlide]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>

<!-- <main [@fadeAnimation]="getState(outletRef)">
  <router-outlet #outletRef="outlet"></router-outlet>
</main> -->

<!-- <div class="wrapper" #wrapper>
  <router-outlet></router-outlet>
</div> -->
