<div id="ws-background"></div>
<div *ngIf="desktop" id="desktop-logo"><img src="./assets/svg/logo-amex.svg" alt="American Express"></div>
<div *ngIf="mobile" id="mobile-logo"><img src="./assets/svg/logo-amex.svg" alt="American Express"></div>

<!-- <nav *ngIf="mobile" id="mobile-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ng-container *ngFor="let menuTopLevelItem of menuTopLevelItems">
        <li *ngIf="!menuTopLevelItem.dropdown" class="nav-item">
          <a class="nav-link" routerLink="{{menuTopLevelItem.link}}" routerLinkActive="active">{{menuTopLevelItem.name}} <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="menuTopLevelItem.dropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{menuTopLevelItem.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ng-container *ngFor="let menuSecondLevelItem of menuSecondLevelItems">
              <a *ngIf="menuSecondLevelItem.parent == menuTopLevelItem.name" class="dropdown-item" 
              routerLink="{{menuSecondLevelItem.link}}" routerLinkActive="active" [innerHTML]="menuSecondLevelItem.name"></a>
            </ng-container>  
          </div>
        </li>
      </ng-container>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<div *ngIf="desktop" id="desktop-nav">
  <nav>
    <ul class="nav-list">
      <li *ngFor="let menuTopLevelItem of menuTopLevelItems" id="{{menuTopLevelItem.name | safeId | lowercase}}" [class]="menuTopLevelItem.dropdown ? 'nav-dropdown nav-title' : 'nav-title'" (click)="toggle(menuTopLevelItem)">

        <div class="inner-nav">
          <a [routerLink]="menuTopLevelItem.link != 'null' ? menuTopLevelItem.link : null" routerLinkActive="active" data-placement="left" data-trigger="hover" [attr.data-content]="menuTopLevelItem.name" data-toggle="popover" [attr.data-state]="menuTopLevelItem.state"><i class="{{menuTopLevelItem.icon}} fa-fw"></i> {{menuTopLevelItem.name}}</a>
          
          <div aria-labelledby="navbarDropdown" class="nav-dropdown">
            <ng-container *ngFor="let menuSecondLevelItem of menuSecondLevelItems">
              <a class="nav-dropdown-item" *ngIf="menuSecondLevelItem.parent == menuTopLevelItem.name" routerLink="{{menuSecondLevelItem.link}}" routerLinkActive="active"><span [innerHTML]="menuSecondLevelItem.name"></span></a>
            </ng-container>
          </div>
        </div>

      </li>
    </ul>
  </nav>
</div>

<nav *ngIf="mobile" id="mobile-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let menuTopLevelItem of menuTopLevelItems" id="{{menuTopLevelItem.name | safeId | lowercase}}" [class]="menuTopLevelItem.dropdown ? 'nav-item dropdown' : 'nav-item'" (click)="toggle(menuTopLevelItem)">

        <a *ngIf="menuTopLevelItem.link != 'null'" [routerLink]="menuTopLevelItem.link" routerLinkActive="active" class="nav-link"><i class="{{menuTopLevelItem.icon}} fa-fw"></i> {{menuTopLevelItem.name}}</a>

        <a *ngIf="menuTopLevelItem.link == 'null'" [routerLink]="menuTopLevelItem.link != 'null' ? menuTopLevelItem.link : null" routerLinkActive="active" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="{{menuTopLevelItem.icon}} fa-fw"></i> {{menuTopLevelItem.name}}</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngFor="let menuSecondLevelItem of menuSecondLevelItems">
            <a *ngIf="menuSecondLevelItem.parent == menuTopLevelItem.name" class="dropdown-item" 
            [routerLink]="['/', menuSecondLevelItem.link]" routerLinkActive="active" [innerHTML]="menuSecondLevelItem.name"></a>
          </ng-container>  
        </div>

      </li>
    </ul>
  </div> -->
  <svg class="sidebar" viewBox="0 0 300 500">
    <path class="s-path" fill="#fff" d="M0,0 50,0 a0,250 0 1,1 0,500 L0,500" />
  </svg>
</nav>


<!-- <main [@routeTrigger]="o.isActivated ? o.activatedRoute : ''" class="main-container">
  <router-outlet #o="outlet"></router-outlet>
</main> -->

<!-- <main [@changeRoute]="o.isActivated ? o.activatedRoute : ''" class="main-container">
  <router-outlet #o="outlet"></router-outlet>
</main> -->

<main [@changeRoute]="getSectionState(o)" class="main-container">
  <router-outlet #o="outlet"></router-outlet>
</main>

<ng-container *ngIf="playOpeningScene">
  <app-opening-scene></app-opening-scene>
</ng-container>
