@import  'variables';

.section-headline-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
}
.section-headline{
    position: absolute;
    line-height: 1em;
    color: $white;
    font-family: $font-stack-bold;
    text-shadow: 1px 1px 1px rgba($black, 0.5);
    text-transform: uppercase;
    overflow: hidden;    
}

:host ::ng-deep .hl-word-mask{
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;

    .hl-word{
        margin: 0;
        padding: 0;
    }
}

.expanded .section-headline, .collapsed .section-headline{
    @include transition(all 1s ease-in-out);
}